@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

.menubar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 700;
}

.menubar__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  border: 1px solid;
  border-radius: 5px;
  height: 3.9rem;
  padding: 4px 4px;
  margin: 0;
}

.menubar__list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  float: left;
  background-color: green;
  color: black;
  /* &:hover {
                    background-color: #117911;
                } */
}

.menubar__list ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 100%;
  color: #d9ff00;
  height: 100%;
  padding: 0 20px;
}

.menubar__list ul li:nth-child(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #d9ff00;
}

.menubar__list ul li:nth-child(1) a {
  color: black;
}

.menubar__list ul li:nth-child(6) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.menubar__list ul li:nth-child(-n+5) {
  border-right: 1px dashed yellow;
}
